<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>active</title>
    <link href="https://cdn.bootcss.com/element-ui/2.8.2/theme-chalk/index.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcss.com/vue-router/3.0.6/vue-router.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.8.2/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_HTML"></script>

</head>
<body>
<div id="active_app">
    <div id="active_add">

        <el-button type="text" @click="bgDialogVisible = true">添加接口行为</el-button>
        <el-dialog
                title="添加接口行为"
                :visible.sync="bgDialogVisible"
                width="30%"
                :before-close="handleClose">


            <el-input v-model="url_path" placeholder="接口地址"></el-input>
            <el-input v-model="httpMethod" placeholder="请求方式"></el-input>


            <el-button type="primary" @click="paramVis = true">添加参数</el-button>

            <el-table
                    :data="active_table"
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="序号"
                >
                </el-table-column>
                <el-table-column
                        prop="eval"
                        label="取值表达式"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="target"
                        label="目标值">
                </el-table-column>
                <el-table-column
                        prop="default_value"
                        label="默认值">
                </el-table-column>
            </el-table>

            <span slot="footer" class="dialog-footer">
            <el-button @click="bgDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="handlerAddAcOk">确 定</el-button>
          </span>
        </el-dialog>
    </div>


    <el-dialog
            title="vvv"
            :visible.sync="paramVis"
            width="30%"
            :before-close="handleClose">

        取值表达式：
        <el-input
                placeholder="取值表达式"
                v-model="param_info.eval">
        </el-input>
        目标值：
        <el-input
                placeholder="目标值"
                v-model="param_info.target">
        </el-input>
        默认值：
        <el-input
                placeholder="默认值"
                v-model="param_info.default_value">
        </el-input>


        <span slot="footer" class="dialog-footer">
            <el-button @click="paramVis = false">取 消</el-button>
            <el-button type="primary" @click="handlerParamOk">确 定</el-button>
          </span>
    </el-dialog>


    <el-table
            :data="urlTableData"
            style="width: 100%">
        <el-table-column
                type="index"
        >
        </el-table-column>
        <el-table-column
                prop="rule_name"
                label="规则名称"
                width="180">
        </el-table-column>
        <el-table-column
                prop="url"
                label="地址"
                width="180">
        </el-table-column>
        <el-table-column
                prop="http_method"
                label="请求方式">
        </el-table-column>
        <el-table-column
                label="操作">
            <template slot-scope="scope">
                <el-button @click="url_info(scope.row)" type="text" size="small">详情</el-button>
            </template>
        </el-table-column>
    </el-table>
</div>

</body>
<script>
    var vm = new Vue({
        el: "#active_app",
        data() {
            return {
                bgDialogVisible: false,
                active_table: [],
                paramVis: false,
                url_path: "",
                httpMethod: "",
                param_info: {
                    eval: "",
                    target: "",
                    default_value: "",
                },
                urlTableData: []
            }
        },
        methods: {
            handlerAddAcOk() {
                this.bgDialogVisible = false;

                this.urlTableData.push(
                    {
                        rule_name: "asdasd",
                        url: this.url_path,
                        http_method: this.httpMethod
                    }
                )

            },
            handlerParamOk() {
                this.paramVis = false;
                this.active_table.push({
                    eval: this.param_info.eval,
                    target: this.param_info.target,
                    default_value: this.param_info.default_value
                })
            },
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {
                    });
            },
            url_info(row) {
                console.log(row);
            }
        },
        mounted() {

        },
        watch: {}
    });

</script>
</html>